<div class="form-container">
    <button mat-icon-button (click)="goBack()" class="floating-back-button">
        <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <h2 data-cy="form-title" class="center-title">Rule Form</h2>
    <div class="col-lg-10 col-md-12 col-sm-12 form-container">
        <form [formGroup]="ruleForm" class="col-lg-12 col-md-12 col-sm-12" novalidate
            (submit)="submitForm(ruleForm, formDirective)" #formDirective="ngForm">
            <hr />
            <div formArrayName="rule" *ngFor="let item of getRule().controls; let index = index">
                <span *ngIf="index%2==0;">
                    <span [formGroupName]="index">
                        <mat-form-field class="menu-item col-lg-4 col-md-4 col-sm-10" appearance="outline">
                            <mat-label>Attribute Type</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let type of attributeTypeOptions" [value]="type.value">
                                    {{ type.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;&nbsp;
                        <mat-form-field *ngIf="getAttributeTypeForIndex(index) == 'attribute'"
                            class="menu-item col-lg-4 col-md-4 col-sm-10" appearance="outline">
                            <mat-label>Attribute Value</mat-label>
                            <mat-select formControlName="value">
                                <mat-option *ngFor="let attribute of attributeOptions" [value]="attribute.value">
                                    {{ attribute.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="getAttributeTypeForIndex(index) == 'value'"
                            class="menu-item col-lg-4 col-md-4 col-sm-10" appearance="outline">
                            <mat-label>Value</mat-label>
                            <input matInput formControlName="value" required placeholder="Weight" />
                        </mat-form-field>
                    </span>
                </span>
                <span *ngIf="index%2!=0;">
                    <span [formGroupName]="index">
                        <mat-form-field class="menu-item col-lg-4 col-md-4 col-sm-10" appearance="outline">
                            <mat-label>Operator Type</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let type of operatorTypeOptions" [value]="type.value">
                                    {{ type.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>&nbsp;&nbsp;
                        <mat-form-field *ngIf="getAttributeTypeForIndex(index) == 'arithmetic'"
                            class="menu-item col-lg-4 col-md-4 col-sm-10" appearance="outline">
                            <mat-label>Arithmetic operator</mat-label>
                            <mat-select formControlName="value">
                                <mat-option *ngFor="let operator of arithmeticOperatorOptions" [value]="operator.value">
                                    {{ operator.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="getAttributeTypeForIndex(index) == 'comparative'"
                            class="menu-item col-lg-4 col-md-4 col-sm-10" appearance="outline">
                            <mat-label>Comparative operator</mat-label>
                            <mat-select formControlName="value">
                                <mat-option *ngFor="let operator of comparativeOperatorOptions"
                                    [value]="operator.value">
                                    {{ operator.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="getAttributeTypeForIndex(index) == 'logical'"
                            class="menu-item col-lg-4 col-md-4 col-sm-10" appearance="outline">
                            <mat-label>Logical operator</mat-label>
                            <mat-select formControlName="value">
                                <mat-option *ngFor="let operator of logicalOperatorOptions" [value]="operator.value">
                                    {{ operator.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </span>
                &nbsp;&nbsp;
                <button type="button" mat-icon-button class="col-lg-1 col-md-1 col-sm-1"
                    (click)="removeRuleItem(index)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <button type="button" mat-icon-button (click)="addRuleItem()">
                <mat-icon>add</mat-icon>
            </button>
            <hr />
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required placeholder="Title" />
                <small class="validation-error" *ngIf="
          ruleForm.get('title')?.hasError('required') &&
          formDirective.submitted
        ">
                    Title is required
                </small>
            </mat-form-field>
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" required placeholder="Description"></textarea>
                <small class="validation-error" *ngIf="
                  ruleForm.get('description')?.hasError('required') &&
                  formDirective.submitted
                ">
                    Description is required
                </small>
            </mat-form-field>
            <small>Please ensure that the weight is a value between 0 and 1</small>
            <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
                <mat-label>Weight</mat-label>
                <input matInput type="number" min=0 max=1 formControlName="weight" required placeholder="Weight" />
                <small class="validation-error" *ngIf="
                  ruleForm.get('weight')?.hasError('required') &&
                  formDirective.submitted
                ">
                    Weight is required
                </small>
            </mat-form-field>
            <button type="submit" class="floating-button-bottom" mat-raised-button color="primary">
                {{ formSubmitting === true ? "Saving..." : "Save to active rules" }}
            </button>
        </form>
    </div>