<div class="form-container">
<button mat-icon-button (click)="goBack()" class="floating-back-button">
    <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 data-cy="form-title" class="center-title">Rule Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
    <form [formGroup]="ruleForm" novalidate (submit)="submitForm(ruleForm, formDirective)"
        #formDirective="ngForm">
        <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required placeholder="Title" />
            <small class="validation-error" *ngIf="
          ruleForm.get('title')?.hasError('required') &&
          formDirective.submitted
        ">
                Title is required
            </small>
        </mat-form-field>
        <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="title" required placeholder="Description" ></textarea>
            <small class="validation-error" *ngIf="
                  ruleForm.get('description')?.hasError('required') &&
                  formDirective.submitted
                ">
                Description is required
            </small>
        </mat-form-field>
        <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
            <mat-label>Weight</mat-label>
            <input matInput formControlName="weight" required placeholder="Weight" />
            <small class="validation-error" *ngIf="
                  ruleForm.get('weight')?.hasError('required') &&
                  formDirective.submitted
                ">
                Weight is required
            </small>
        </mat-form-field>
        <button type="submit" class="floating-button-bottom" mat-raised-button color="primary">
            {{ formSubmitting === true ? "Submitting..." : "Submit" }}
        </button>
    </form>

</div>
<br />
<br />
</div>