<div class="form-container">
    <button mat-icon-button (click)="goBack()" class="floating-back-button">
        <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <h2 data-cy="form-title" class="center-title">Transaction Form</h2>
    <div class="col-lg-8 col-sm-12 center">
        <button class="floating-button-bottom" (click)="populateFraudTransaction()" mat-raised-button color="primary">
            Generate Random Fraud Transaction
        </button>&nbsp;
        <button class="floating-button-bottom" (click)="populateNonFraudTransaction()" mat-raised-button color="primary">
            Generate Random Non-Fraud Transaction
        </button>
        <hr />
    </div>
    <div class="col-lg-8 col-sm-12 form-container">
        <form [formGroup]="transactionForm" novalidate (submit)="submitForm(transactionForm, formDirective)"
            #formDirective="ngForm">
            <span *ngFor="let attribute of attributeOptions; let index = index">
                <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
                    <mat-label>{{attribute.label}}</mat-label>
                    <input matInput [formControlName]="attribute.value" required [placeholder]="attribute.label" />
                </mat-form-field>
            </span>
            <button type="submit" class="floating-button-bottom" mat-raised-button color="primary">
                {{ formSubmitting === true ? "Submitting..." : "Submit" }}
            </button>
        </form>

    </div>
    <br />
    <br />
</div>